<ion-header>
  <ion-navbar>
    <ion-title>Add Room</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="seal" *ngIf="loading">
    <img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/927/765/d50.gif">
    <h3>Loading...</h3>
    <p>I hope our loading gif gets your
      <i>seal</i> of approval.</p>
  </div>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="addRoom()" *ngIf="!loading">
        <ion-list>
          <ion-item>
            <ion-label floating>Enter Room Name</ion-label>
            <ion-input type="text" id="roomName" [(ngModel)]="data.roomname" name="roomname" required="" maxlength="50" minlength="0"></ion-input>
          </ion-item>
          <ion-item>
            <button id="SubAddRoom" ion-button full round color="secondary" type="submit">Add</button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
