page-room {
  ion-icon{
    cursor: pointer;
  }

  ion-list{
    border-top: 1px solid #32DB64;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  ion-list{
    cursor: pointer;
  }
}
