<ion-header>
  <ion-navbar>
    <ion-title>Rooms</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleDelete()">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="seal" *ngIf="loading">
    <img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/927/765/d50.gif">
    <h3>Loading...</h3>
    <p>I hope our loading gif gets your
      <i>seal</i> of approval.</p>
  </div>
  <ion-list *ngIf="!loading">
    <button ion-item *ngFor="let room of rooms; let i = index" (click)="joinRoom(room)">
      <button ion-button item-left (click)="deleteRoom(room, i, $event)" *ngIf="showDelete">Delete</button>
      {{room.roomname}}
    </button>
  </ion-list>
</ion-content>
