<ion-header>
  <ion-navbar>
    <ion-title>Rooms</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addRoom()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="seal" *ngIf="loading">
    <img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/927/765/d50.gif">
    <h3>Loading...</h3>
    <p>I hope our loading gif gets your
      <i>seal</i> of approval.</p>
  </div>
  <button ion-button (click)="getLocation()">
    wya
  </button>
  <ion-list *ngIf="!loading">
    <a ion-item *ngFor="let room of rooms" (click)="joinRoom(room)">
      {{room.roomname}}
      <!-- <ion-icon name="arrow-forward" item-end></ion-icon> -->
    </a>
  </ion-list>
</ion-content>
