page-signin {
  .login-logo {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .scroll-content {
    background: url('https://i.pinimg.com/originals/c4/f6/1f/c4f61f49abd2d4fe24e6fc12acf15463.gif') !important;
  }
}
